<div class="container">
  	<div class="page-header">
	  <h1>Create New Message</h1>
	</div>
	<form class="form-horizontal col-sm-9" role="form">
		<div class="form-group">
			<label for="InputMessageTitle">Author Name</label>
			<input type="text" class="form-control" id="InputMessageTitle" ng-model="formData.newMessageAuthorName" placeholder="Author Name">
		</div>
		<div class="form-group">
			<label for="TextareaMessageContent">Message Content</label>
			<textarea class="form-control" id="TextareaMessageContent" rows="3" ng-model="formData.newMessageContents" placeholder="Type your message here..."></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="createMessage()">Create</button>
			<button class="btn btn-danger pull-right" ng-click="clearMessage()">Clear message</button>
		</div>
	</form>
</div>